<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sticky-footer.css}" rel="stylesheet">
</head>

<body>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>控制棒零部件尺寸自动测量系统</strong>
            </a>
        </div>
    </div>
</header>

<main role="main" style="margin-top: 3rem !important;">
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card-body">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="height:100px;width: 300px;" id="measure">测量</button>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="height:100px;width: 300px;">标准件精度校正</button>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-lg btn-block btn-primary" style="height:100px;width: 300px;" id="exit">退出系统</button>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <img alt="logo" title="logo" th:src="@{/assets/footer.jpg}">
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/vendor/jquery-slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/holder.min.js}"></script>
<script type="text/javascript">
  (function () {
      $("#exit").on("click", function(){
        window.close();
      });
      $("#measure").on("click", function(){
          window.location.href = "/measure";
      });
  })();
</script>
</body>
</html>
